*.cache/
__pycache__/
*.c
*.cpython*
build/
_build/
*~
.DS_Store
*.log
.coverage
.test.dat
notebooks/.ipynb_checkpoints/
notebooks/.temp.*
.vscode/
docs/assets/static_notebooks/.ipynb_checkpoints/
docs/assets/static_notebooks/.temp.*
dist/
s2scat.egg-info/
resources/
.matrices/
s2scat.code-workspace
.tox